In [2]:
import pandas as pd 
import os

In [3]:
archivo = open('API_14_DS2_es_csv_v2_4533287.csv','r') # Abrimos archivo
# Separacion de datos
data = []
for fila in archivo:
    dato = fila.split(',"')          
    data.append(dato)
archivo.close()

# Limpieza de datos 
rep = []
for i in range(0,len(data)):
    fila = data[i]
    fil = []
    for k in fila:
        dato = k.strip('"')
        fil.append(dato)
    rep.append(fil)

# Ingesta de datos a Dataframe 
data_db = pd.DataFrame(columns = rep[0])
for colum in range(0,len(data_db.columns)):
    data_db[f'{data_db.columns[colum]}'] = pd.Series([i[colum] for i in rep])

data_db.drop(0,inplace = True)  # Borramos la primera fila
data_db.drop(columns=['\n','Indicator Name'],inplace = True) # Eliminamos la ultima columna

In [4]:
años = ['Country Code', 'Indicator Code','1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997','1998', '1999', 
        '2000', '2001', '2002', '2003', '2004', '2005', '2006','2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
        '2016', '2017', '2018', '2019', '2020', '2021']
        
data_db = data_db[años] # Columnas desde 1990 - 2021
data_db = data_db.replace({"": 0})      # reemplazamos valores vacios con 0

for año in range(1990,2022):
    data_db[f'{año}'] = data_db[f'{año}'].astype('float')       # Cambio de tipo de dato (float)

In [166]:
data_db.head()

,Country Code,Indicator Code,1990,1991,1992,1993,1994,1995,1996,1997,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,ABW,TX.VAL.TECH.MF.ZS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.125918e+01,5.140044e+00,7.322688e+00,4.968986e+00,4.042395e+00,6.640416e+00,8.516737e+00,4.952803e+00,6.756651e+00,0.0
2,ABW,TX.VAL.TECH.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.656986e+06,1.702027e+06,2.236381e+06,1.265878e+06,1.255852e+06,2.004844e+06,2.562889e+06,1.655574e+06,1.788242e+06,1171447.0
3,ABW,SP.POP.TECH.RD.P6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
4,ABW,SP.POP.SCIE.RD.P6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
5,ABW,IP.PAT.RESD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0

In [5]:
data_db.to_csv('Data.csv')

In [100]:
# Usada en caso de no haber Codigode de indicador 
# data_db['IndicatorName_Code'] = data_db['Indicator Name'].map({'Exportaciones de productos de alta tecnología (% de las exportaciones de productos manufacturados)':'TX.VAL.TECH.MF.ZS',
#                                                                 'Exportaciones de productos de alta tecnología (US$ a precios actuales)':'TX.VAL.TECH.CD',
#                                                                 'Técnicos de investigación y desarrollo (por cada millón de personas)':'SP.POP.TECH.RD.P6',
#                                                                 'Investigadores dedicados a investigación y desarrollo (por cada millón de personas)':'SP.POP.SCIE.RD.P6',
#                                                                 'Solicitudes de patentes, residentes':'IP.PAT.RESD',
#                                                                 'Solicitudes de patentes, no residentes':'IP.PAT.NRES',
#                                                                 'Artículos en publicaciones científicas y técnicas':'IP.JRN.ARTC.SC',
#                                                                 'Gasto en investigación y desarrollo (% del PIB)':'GB.XPD.RSDV.GD.ZS',
#                                                                 'Cargos por el uso de propiedad intelectual, recibos (balanza de pagos, US$ a precios actuales)':'BX.GSR.ROYL.CD',
#                                                                 'Cargos por el uso de propiedad intelectual, pagos (balanza de pagos, US$ a precios actuales)':'BM.GSR.ROYL.CD'
#                                                                 })

In [199]:
indicadores = pd.read_csv('Metadata_Indicator_API_14_DS2_es_csv_v2_4533287.csv')

indicadores = indicadores[['INDICATOR_CODE', 'INDICATOR_NAME', 'SOURCE_NOTE','SOURCE_ORGANIZATION']]
indicadores.head(1)

indicadores.to_csv('Indicadores.csv',index=False)

In [231]:
country = pd.read_csv('Metadata_Country_API_14_DS2_es_csv_v2_4533287.csv')
country = country[['Country Name', 'Country Code', 'Region', 'Income_Group']]
country = country.fillna('Sin Dato')

ctr_names = []
for ctr in country['Country Name'].values:
    # ctr_name = country.loc[ctr,'Country Name']
    ctr_name = ctr.strip('\r\n')
    ctr_name = ctr_name.replace(',',".")
    ctr_names.append(ctr_name)

country['Country_Name'] = pd.Series(ctr_names)
country = country[['Country_Name', 'Country Code', 'Region', 'Income_Group']]

In [232]:
country.to_csv('country.csv',index=False)